import { {{pascalCase name}}Props } from './types'

const {{pascalCase name}} = ({ label }: {{pascalCase name}}Props) => (
  <main>
    <h1>{ label }</h1>
  </main>
)

export default {{pascalCase name}}
